# Label Encoding

In [13]:
import pandas as pd
df=pd.DataFrame({"A":[1,2,3,4,5],"B":[2,13,4,1,3],"C":["Yes","No","No","Yes","No"],})
df

   A   B    C
0  1   2  Yes
1  2  13   No
2  3   4   No
3  4   1  Yes
4  5   3   No

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
df["C"]=le.fit_transform(df["C"])
df.head()

   A   B  C
0  1   2  1
1  2  13  0
2  3   4  0
3  4   1  1
4  5   3  0

# Ordinial Encoding

In [17]:
df=pd.DataFrame({"A":[1,2,3,4,5],"B":["Yes","No","No","Yes","No"],"C":["High","Low","Medium","Low","High"]})
df.head()

   A    B       C
0  1  Yes    High
1  2   No     Low
2  3   No  Medium
3  4  Yes     Low
4  5   No    High

In [23]:
from sklearn.preprocessing import OrdinalEncoder
Oe = OrdinalEncoder()
df[["B", "C"]]= Oe.fit_transform(df[["B", "C"]])
df.head()

   A    B    C
0  1  1.0  0.0
1  2  0.0  1.0
2  3  0.0  2.0
3  4  1.0  1.0
4  5  0.0  0.0

# Frequency Encoding

In [24]:
df=pd.DataFrame({"A":[1,2,3,4,5],"B":[2,13,4,1,3],"C":["Yes","No","No","Yes","No"]})
df.head()

   A   B    C
0  1   2  Yes
1  2  13   No
2  3   4   No
3  4   1  Yes
4  5   3   No

In [25]:
df["C"]=df["C"].replace({"Yes":2,"No":1})
df.head()

   A   B  C
0  1   2  2
1  2  13  1
2  3   4  1
3  4   1  2
4  5   3  1

# Mean/Target Encoding

In [26]:
df=pd.DataFrame({"A":[1,2,3,4,5],"B":[2,13,4,1,3],"C":["Yes","No","No","Yes","No"]})
df.head()

   A   B    C
0  1   2  Yes
1  2  13   No
2  3   4   No
3  4   1  Yes
4  5   3   No

In [27]:
df.groupby("C")["B"].mean()

C
No     6.666667
Yes    1.500000
Name: B, dtype: float64

# One Hot Encoding

In [28]:
import pandas as pd

ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']

df = pd.DataFrame(list(zip(ids, countries)),
                  columns=['Ids', 'Countries'])
df

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

In [44]:
y=pd.get_dummies(df,prefix='Countries')
y

   Height  BMI
0       1   11
1       2   22
2       3   33
3       4   44

# Train Test Split Scaling

In [31]:
import pandas as pd

df = pd.DataFrame({"Height":[1,2,3,4],"BMI":[11,22,33,44]})
df.head(10)

   Height  BMI
0       1   11
1       2   22
2       3   33
3       4   44

In [32]:
x = df["Height"]
x
y = df["BMI"]
y

0    11
1    22
2    33
3    44
Name: BMI, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.5,random_state=3)
print(x_train)

0    1
2    3
Name: Height, dtype: int64

In [34]:
len(x_train)

2

In [35]:
print(x_test)

3    4
1    2
Name: Height, dtype: int64

In [36]:
len(x_test)

2

In [38]:
print(y_train)

0    11
2    33
Name: BMI, dtype: int64

In [40]:
len(y_train)

2

In [42]:
print(y_test)

3    44
1    22
Name: BMI, dtype: int64

In [43]:
len(y_test)

2